@inject IStringLocalizer<UserLayoutController> Localizer

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                @await Component.InvokeAsync(nameof(CoreDemo.ViewComponents.TopFavouriteCategoriesViewComponent).Replace("ViewComponent",""))
            </div>
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">

                <div class="tech-btm">
                    @await Component.InvokeAsync("LatestPosts")
                </div>
            </div>
            <!-- subscribe -->
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">

                <div class="tech-btm">
                    @await Html.PartialAsync($"../{nameof(CoreDemo.Controllers.NewsLetterController).Replace("Controller","")}/{nameof(CoreDemo.Controllers.NewsLetterController.SubscribeEmail)}", new CreateNewsLetterViewModel())
                </div>
            </div>
            <!-- //subscribe -->
        </div>
    </div>
    <div class="footer-cpy text-center">
        <div class="footer-social">
            <div class="copyrighttop">
                <ul>
                    <li class="mx-3">
                        <a class="facebook" href="https://github.com/sahinmaral">
                            <i class="fab fa-github"></i>
                            <span>Github</span>
                        </a>
                    </li>

                    <li class="mx-3">
                        <a class="facebook" href="https://www.linkedin.com/in/sahinmaral/">
                            <i class="fab fa-linkedin"></i>
                            <span>Linked-in</span>
                        </a>
                    </li>
                    <li class="mx-3">
                        <a class="facebook" href="mailto:sahinnmaral@gmail.com">
                            <i class="fab fa-google"></i>
                            <span>Gmail</span>
                        </a>
                    </li>
                    <li class="mx-3">
                        <a class="facebook" href="mailto:sahin.maral@hotmail.com">
                            <i class="fa fa-envelope"></i>
                            <span>Hotmail</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="w3layouts-agile-copyrightbottom">
            <p>
                © 2018 Weblog. All Rights Reserved | Design by
                <a href="http://w3layouts.com/">W3layouts</a>
            </p>

        </div>
    </div>
</footer>