@model List<ReadBlogViewModel>

@foreach (var readBlogViewModel in Model)
{
<tr>
    <td>@readBlogViewModel.BlogId</td>
    <td><img src="~/images/@readBlogViewModel.BlogThumbnailImage" /></td>
    <td>@readBlogViewModel.BlogTitle</td>
    <td>
        <label class="badge badge-gradient-success">
            @readBlogViewModel.CategoryViewModel.CategoryName
        </label>
    </td>
    <td> @readBlogViewModel.BlogCreateDate</td>
    <td><a href="/Blog/GetById/@readBlogViewModel.BlogId">Detay</a></td>
</tr>
}
