@model ReadAboutViewModel

@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Hakkında";
}


    <h3 class="tittle">About</h3>
    <div class="row inner-sec">
        <!--left-->
        <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
            <div class="blog-grid-top">

                <div class="blog_info_left_grid">
                    <a href="single.html">
                        <img src="~/weblogTemplate/web/images/b5.jpg" class="img-fluid" alt="">
                    </a>
                </div>
                <h3>
                    Biz Kimiz & Misyonumuz & Vizyonumuz
                </h3>
                <p style="margin-bottom:0">
                    @Model.AboutDetail
                </p>
            </div>

        </div>
        <!--//left-->
        <!--right-->
        <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
            <div class="right-blog-info text-left">
                <div class="tech-btm">
                    @await Component.InvokeAsync("SubscribeEmailAtAbout")

                </div>
                <div class="tech-btm widget_social">
                    @await Component.InvokeAsync("AboutSocialMedia")
                </div>

                
                <div class="tech-btm">
                    @await Component.InvokeAsync("LatestPosts")
                </div>
            </div>

        </aside>
        <!--//right-->
    </div>

    <script>

    window.onload = function () {
        @Html.Raw(TempData["Message"])
    }
    </script>