@model CreateCommentViewModel



<h4>Yorum Bırak</h4>
<div class="comment-bottom">
    @using (Html.BeginForm("AddComment","Blog",FormMethod.Post))
    {
        @Html.HiddenFor(x=>x.BlogId)
        
        @Html.TextAreaFor(x=>x.CommentAbout , new {@class="form-control" , placeholder="Mesaj..."})
        <button id="addCommentButton" class="btn btn-primary" type="submit">Gönder</button>
    }


</div>

<script>

    $("addCommentButton").click(function() {
        $.ajax({
            url: '@Url.Action("AddComment","Blog")',
            type: 'POST',
            dataType: 'json',
            data: { @Model }
        });
    })
</script>