@model CreateNewsLetterViewModel

@inject IStringLocalizer<UserLayoutController> Localizer

<div class="mb-3">
    <h3 style="text-align: center;" class="mb-3">@Localizer["SubscribeNewsletterTitle"]</h3>
    @using (Html.BeginForm("SubscribeEmail", "NewsLetter", FormMethod.Post))
    {
        @Html.TextBoxFor(x=>x.Email , new {placeholder="Email" , @class = "form-control"})
        <br />
        <button type="submit" class="btn btn-primary submit" id="subscribeButton">@Localizer["SubscribeNewsletterButton"]</button>
    }
</div>
