@model CoreDemo.Models.CreateNewsLetterViewModel

<div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
    <h2>Mail Bültenine Abone Olun</h2>
    <p>Bloglarımızı takip etmek için abone olunuz.</p>
    <div class="subscribe-main text-left">
        
        <div class="subscribe-form">
             @using (Html.BeginForm("SubscribeEmailAtFooter", "NewsLetter"))
             {
                 <input class="form-control" type="email" placeholder="Enter your email..." required="" name="Email">
                 <button type="submit" class="btn btn-primary submit">Submit</button>
             }
            <div class="clearfix"> </div>
        </div>
    </div>
            

</div>