@model List<ReadCommentViewModel>

@if (Model.Count == 0)
{
    <p>Hiç yorum yok. İlk yorumu sen at.</p>
}

else
{
    @foreach (ReadCommentViewModel comment in Model)
    {
        <div class="media mt-3">
            @* <a class="d-flex pr-3" href="#"> *@
            @*     <img src="images/t2.jpg" alt="" class="img-fluid"/> *@
            @* </a> *@
            <div class="media-body">
                <h5 class="mt-0">@comment.UserViewModel.Username</h5>
                <p>
                    @comment.CommentAbout
                </p>
            </div>
        </div>
    }
}

