<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Homepage">
                <span class="menu-title">Arayüz</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#my-profile" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Profilim</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-account-settings menu-icon"></i>
            </a>
            <div class="collapse" id="my-profile">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/ChangeProfile">
                            <span class="menu-title">Profil Bilgilerini Degistir</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/ChangePassword">
                            <span class="menu-title">Sifre Degistir</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/ChangeThumbnailImage">
                            <span class="menu-title">Kapak Fotografini Degistir</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#blog-processes" aria-expanded="false" aria-controls="general-pages">
                <span class="menu-title">Blog Islemleri</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
            <div class="collapse" id="blog-processes">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/MyBlog">
                            <span class="menu-title">Bloglarım</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/AddBlog">
                            <span class="menu-title">Yeni Blog</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Message/ViewInbox">
                <span class="menu-title">Mesajlar</span>
                <i class="mdi mdi-message menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/GetAll">
                <span class="menu-title">Siteye Git</span>
                <i class="mdi mdi-table-large menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>