@model CreateNewsLetterViewModel

@{
    Layout = null;
}


<div class="tech-btm">
    <img src="~/weblogTemplate/web/images/banner1.jpg" class="img-fluid" alt="">
</div>
<div class="tech-btm">
    <h4>Mail Bültenine Abone Olun</h4>
    <p>Bloglarımızı takip etmek için abone olunuz.</p>

    @using (Html.BeginForm("SubscribeEmail", "NewsLetter"))
    {
        <input type="text" class="form-control" placeholder="Email" name="Email" />
        <br />
        <button type="submit" class="btn btn-primary submit" id="subscribeEmailButton">Abone Ol</button>


    }


</div>


<script>


    $("subscribeEmailButton").click(function() {
        $.ajax({
            url: '@Url.Action("SubscribeEmail", "NewsLetter")',
            type: 'POST',
            dataType: 'json',
            data: { @Html.Raw(Model) }
        });
    });

</script>