@model CoreDemo.Models.CreateCategoryViewModel

@{
    ViewBag.Title = "Yeni Kategori Ekleme | ";
    Layout = "_AdminLayout";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="margin-bottom:3em">Yeni Kategori Oluştur</h4>
            @using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
            {
                <div class="form-group">
                    <label>Başlık</label>
                    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control", style = "border:1px solid black", placeholder = "Kategori Adı" })
                    @Html.ValidationMessageFor(x => x.CategoryName, "", new { style = "color:darkred" })
                </div>

                <div class="form-group">
                    <label for="exampleTextarea1">İçerik</label>
                    @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control", style = "border:1px solid black", placeholder = "Kategori İçeriği", rows = "4" })
                    @Html.ValidationMessageFor(x => x.CategoryDescription, "", new { style = "color:darkred" })
                </div>

                <button type="submit" class="btn btn-success mr-2">Kaydet</button>
                <button class="btn btn-warning">İptal Et</button>}
        </div>
    </div>
</div>
