@model List<ReadMessageViewModel>




@{
    LocalizedHtmlString messageNotificationTextLocStr;
    if (Model.Count > 1)
        messageNotificationTextLocStr = ViewLocalizer["NewMessages", Model.Count];
    else
        messageNotificationTextLocStr = ViewLocalizer["NewMessages", Model.Count]; ;

    int totalSubstractNumber;
    LocalizedHtmlString totalSubstractTextLocString;

    void CalculateSubstract(DateTime messageSentDate)
    {
        if (DateTime.Now.Subtract(messageSentDate).TotalSeconds < 60)
        {
            totalSubstractNumber = (int) DateTime.Now.Subtract(messageSentDate).TotalSeconds;
            totalSubstractTextLocString = totalSubstractNumber == 1 ? ViewLocalizer["SecondAgo", totalSubstractNumber] : ViewLocalizer["SecondsAgo", totalSubstractNumber];
        }
        else if (DateTime.Now.Subtract(messageSentDate).TotalMinutes < 60)
        {
            totalSubstractNumber = (int) DateTime.Now.Subtract(messageSentDate).TotalMinutes;
            totalSubstractTextLocString = totalSubstractNumber == 1 ? ViewLocalizer["MinuteAgo", totalSubstractNumber] : ViewLocalizer["MinutesAgo", totalSubstractNumber];
        }
        else if (DateTime.Now.Subtract(messageSentDate).TotalHours < 60)
        {
            totalSubstractNumber = (int) DateTime.Now.Subtract(messageSentDate).TotalHours;
            totalSubstractTextLocString = totalSubstractNumber == 1 ? ViewLocalizer["HourAgo", totalSubstractNumber] : ViewLocalizer["HoursAgo", totalSubstractNumber];
        }
        else
        {
            totalSubstractNumber = (int) DateTime.Now.Subtract(messageSentDate).TotalDays;
            totalSubstractTextLocString = totalSubstractNumber == 1 ? ViewLocalizer["DayAgo", totalSubstractNumber] : ViewLocalizer["DaysAgo", totalSubstractNumber];
        }
    }
}

<a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
    <i class="mdi mdi-email-outline"></i>
    @*<span class="count-symbol bg-warning"></span>*@
</a>
<div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
    <h6 class="p-3 mb-0">@ViewLocalizer["Messages"]</h6>
    @foreach (ReadMessageViewModel message in Model)
    {
        CalculateSubstract(message.MessageDateTime);

        <a class="dropdown-item preview-item" href="/Message/GetMessageDetail/@message.MessageId">
            <div class="preview-thumbnail">
                <img src="~/images/@message.Sender.ImageUrl" alt="image" class="profile-pic">
            </div>
            <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                <h6 class="preview-subject ellipsis mb-1 font-weight-normal">@ViewLocalizer["HasSentYouMessage",@message.Sender.NameSurname]</h6>
                <p class="text-gray mb-0">@totalSubstractTextLocString</p>
            </div>
        </a>
    }
    <div class="dropdown-divider"></div>
    <h6 class="p-3 mb-0 text-center">
        <a href="/Writer/Message/ViewInbox">@messageNotificationTextLocStr</a>
    </h6>
</div>
