@model CoreDemo.Models.ReadUserViewModel

<div class="col-md-4 top-forms mt-lg-3 mt-md-1 mt-0 d-flex">
    <span>Hoşgeldiniz </span>
    <div class="mx-lg-4 mx-md-2 mx-1">
        @if (Model.Username == null)
        {
            <a href="/Login/Login" style="color:gray">
                <i class="fas fa-lock"></i> Giriş yap
            </a>
        }
        else
        {
            <ul class="blog-icons">
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>@Model.Username
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="dropdown-item" href="/Admin/Category/GetCategories">Admin Arayuzu</a>
                        }

                        @if (User.IsInRole("Writer"))
                        {
                            <a class="dropdown-item" href="/Writer/Homepage">Yazar Arayuzu</a>
                        }

                    </div>
                </li>
            </ul>
        }
    </div>
    <span>
        @if (Model.Username == null)
        {
            <a href="/Register/Register">
                <i class="far fa-user"></i> Kayıt ol
            </a>
        }
        else
        {
            <a href="/Login/LogOut">
                <i class="fas fa-sign-out-alt"></i> Çıkış Yap
            </a>
        }
    </span>
</div>