@model object

@{
    ViewBag.Title = "Admin Anasayfa";
    Layout = "_AdminLayout";
}

<div class="row wrapper border-bottom white-bg page-heading ml-2">
    <h2>Anasayfa</h2>
</div>

<div class="wrapper wrapper-content animated fadeInRight ml-3">

    <div class="row">
        Anasayfaya hoşgeldiniz
    </div>

</div>