
@{
    ViewBag.Title = "Kullanicilar ";
    Layout = "_AdminLayout";
}

<h2>Kullanici Ajax İşlemleri</h2>
<br />

<button type="button" id="btnGetUsers" class="btn btn-primary">Kullanicilari Listele</button>
<button type="button" id="btnShowUserIdText"
        class="btn btn-primary">
    Kullanicinin ID'ye göre Listele
</button>
<br />
<br />

<div id="userList">
    <label class="mt-2">
        Buraya kullanicilar veya kullanici gelecek
    </label>
</div>

<div id="userIdDiv" style="display: none; ">
    <input type="text"
           id="userIdText"
           placeholder="Kullanicinin ID'sini giriniz"
           class="form-control border border-dark mb-2"
           style="width: 200px" />
    <button type="button" id="btnGetUser"
            class="btn btn-primary">
        Listele
    </button>
</div>


@section scripts{
    <script>

        window.onload = function () {
            @Html.Raw(TempData["Message"])
        }

        toastr.options.progressBar = true;
        toastr.options.positionClass = "toast-bottom-right";

        GetUsers = function () {
            var users = {};

            $.ajax({
                async: false,
                contentType: "application/json",
                dataType: "json",
                type: "GET",
                url: "/Admin/User/GetUsersJson",
                success: function (data) {
                    users = jQuery.parseJSON(data);
                }
            });

            return users;
        }

        GetUser = function (id) {
            var foundUser = {};

            $.ajax({
                async: false,
                contentType: "application/json",
                dataType: "json",
                type: "GET",
                url: "/Admin/User/GetUserByIdJson?id=" + id,
                success: function (data) {
                    foundUser = jQuery.parseJSON(data);
                }
            });

            return foundUser;
        }

        LoadToTableGetUsers = function () {

            var users = GetUsers();

            var tableHTML =
                "<table class='table table-bordered'>" +
                "<tr> " +
                "<th> # </td>" +
                "<th> Kullanici Adı Soyadi</td>" +
                "<th> Kullanici Kullanıcı Adı </td>" +
                "<th> Kullanici Islemleri </td>" +
                //"<th> Yazarın Durumu </td>" +
                //"<th> Yazarı Banla / Banını Kaldır </td>" +
                "</tr>";
            for (var i = 0; i < users.length; i++) {
                tableHTML += "<tr>";
                tableHTML += "<td>" + users[i].UserId + "</td>";
                tableHTML += "<td>" + users[i].NameSurname + "</td>";
                tableHTML += "<td>" + users[i].Username + "</td>";
                tableHTML += "<td>";
                tableHTML += "<a href='/Admin/User/UpdateRolesToUser/" + users[i].UserId + "' class='btn btn-success'>Kullanicinin Rollerini Getir</a>";
                tableHTML += "</td> ";
                //if (!writers[i].LockoutEnabled)
                //    tableHTML += "<td>Temiz</td>";
                //else
                //    tableHTML += "<td>Banlı</td>";

                //tableHTML += "<td> <button type=button onClick=EnableOrDisableWriter(" + writers[i].UserId + ") class='btn btn-warning' > Yazarı Banla / Banını Kaldır</button > </td > ";
                tableHTML += "</tr>";
            }

            tableHTML += "</table>";

            $("#userList").html(tableHTML);
        }

        LoadToTableGetUser = function () {

            var id = $("#userIdText").val();

            if (id === "")
                toastr.error('Kullanici Id kısmını doldurunuz');
            else {
                var user = GetUser(id);

                var tableHTML =
                    "<table class='table table-bordered'>" +
                    "<tr> " +
                    "<th> # </td>" +
                    "<th> Kullanici Adı Soyadi</td>" +
                    "<th> Kullanici Kullanıcı Adı </td>" +
                    "<th> Kullanici Islemleri </td>" +
                    //"<th> Yazarın Durumu </td>" +
                    //"<th> Yazarı Banla / Banını Kaldır </td>" +
                    "</tr>";
                tableHTML += "<tr>";
                tableHTML += "<td>" + user.UserId + "</td>";
                tableHTML += "<td>" + user.NameSurname + "</td>";
                tableHTML += "<td>" + user.Username + "</td>";
                tableHTML += "<td>";
                tableHTML += "<a href='/Admin/User/UpdateRolesToUser/" + user.UserId + "' class='btn btn-success'>Kullanicinin Rollerini Getir</a>";
                tableHTML += "</td> ";
                //if (!foundWriter.LockoutEnabled)
                //    tableHTML += "<td>Temiz</td>";
                //else
                //    tableHTML += "<td>Banlı</td>";
                //tableHTML += "<td> <button type=button onClick=EnableOrDisableWriter(" + foundWriter.UserId + ") class='btn btn-warning' > Yazarı Banla / Banını Kaldır</button > </td > ";
                tableHTML += "</tr>";
                tableHTML += "</table>";

                $("#userList").html(tableHTML);
            }


        }

        EnableOrDisableUser = function (id) {
            $.ajax({
                async: false,
                contentType: "application/json",
                dataType: "json",
                type: "POST",
                url: "/Admin/User/EnableOrDisableUser?id=" + id,
            }).then(
                toastr.success('Kullanici banlama / ban kaldırma işlemi başarılı')
            );

            var element = document.getElementById("userIdDiv");

            if (element.style.display === "none")
                LoadToTableGetUsers();
            else
                LoadToTableGetUser();
        }

        $("#btnShowUserIdText").click(function () {


            document.getElementById("userList").innerHTML = "<label class='mt-2'>Buraya kullanicilar veya kullanici gelecek</label>";

            var div = document.getElementById("userIdDiv");

            if (div.style.display === "block") {
                div.style.display = "none";
            } else {

                div.style.display = "block";
            }


        });

        $("#btnGetUsers").click(function () {

            document.getElementById("userList").innerHTML = "";

            var element = document.getElementById("userIdDiv");
            element.style.display = "none";
            LoadToTableGetUsers();
        });

        $("#btnGetUser").click(function () {
            LoadToTableGetUser();
        });


    </script>
}
