<h4>@ViewLocalizer["Title"]</h4>
<ul>

    <li>
        <a class="linkedin" href="https://www.linkedin.com/in/sahinmaral">
            <i class="fab fa-linkedin"></i>
            Linked-in
        </a>
    </li>
    <li>
        <a class="github" href="https://github.com/sahinmaral">
            <i class="fab fa-github"></i>
            Github
        </a>
    </li>
    <li>
        <a class="gmail" href="mailto:sahinnmaral@gmail.com">
            <i class="fab fa-google"></i>
            Gmail
        </a>
    </li>
    <li>
        <a class="hotmail" href="mailto:sahin.maral@hotmail.com">
            <i class="fa fa-envelope"></i>
            Hotmail
        </a>
    </li>

</ul>