
@model AdminNavbarViewModel

@inject IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> LocOptions

@{
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";

    var culture = Context.Features.Get<IRequestCultureFeature>();
    var cultureList = LocOptions.Value.SupportedUICultures.Select(x => new SelectListItem { Value = x.Name, Text = x.Name }).ToList();
}

<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        
        <li class="dropdown">
            <form asp-action="@nameof(UserLayoutController.SetLanguage)" asp-controller="@nameof(UserLayoutController).Replace("Controller","")" method="post"
                  asp-route-returnUrl="@returnUrl" asp-area="">
                <select name="culture" class="form-control" style="height:30px;"
                        asp-for="@culture.RequestCulture.UICulture.Name"
                        asp-items="cultureList"
                        onchange="this.form.submit();">
                </select>
            </form>
        </li>
        <li class="dropdown">
            @await Component.InvokeAsync(typeof(CoreDemo.Areas.Admin.ViewComponents.AdminMessagesViewComponent))
        </li>
        

        @{
            //TODO : Notification Kismi eklenecek
        }

        
        <li class="dropdown">
            @await Component.InvokeAsync(typeof(CoreDemo.Areas.Admin.ViewComponents.NotificationListViewComponent))
        </li>
        

        <li>
            <a href="/@nameof(UserController).Replace("Controller","")/@nameof(UserController.LogOut)">
                <i class="fa fa-sign-out"></i> Cikis Yap
            </a>
        </li>
    </ul>

</nav>