/Constants/mailServiceConfiguration.json
/bin/Debug/net5.0/Constants/mailServiceConfiguration.json
/bin/Release/net5.0/Constants/mailServiceConfiguration.json
/obj/Release/net5.0/PubTmp/Out/Constants/mailServiceConfiguration.json